.eap_grid{
  text-align: center;
  margin: 10px 0 30px;
}

.eap_title{
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding: 5px;
  line-height: 1em;
}

.eap_title:after{
  content: ' ';
  position: absolute;
  right: 5px;
  top: 40%;
  width: .5em;
  height: .5em;
  border: 2px solid black;
  border-width: 0 2px 2px 0;
  opacity: .3;
  transform: rotate(45deg) translateX(-50%);
  transition: .3s;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -webkit-transition: .3s;
}

.eap_title:hover:after{
  opacity: 1;
}

.eap_no_content .eap_title{
  cursor: default;
}

.eap_no_content .eap_title:after{
  display: none;
}

.eap_open .eap_title:after{
  transform: rotate(-135deg);
}

.eap_content{
  display: none;
  padding: 0 5px 5px;
}

.eap_no_title .eap_content{
  display: block;
}

.eap_content .attachment-post-thumbnail{
  margin:.5em 0;
}

.eap_cell{
  background: rgba(0, 0, 0, 0.03);
  padding: 5px;
  margin-bottom: 6px;
  text-align: left;
}

.eap_cell:last-child{
  margin-bottom: 0;
}

.eap_col{
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin-bottom: 10px;
}

.eap_acc{
}
