<table class="table database">
  <tr>
    <th>
      Post Type
    </th>
    <th>
      Taxonomy
    </th>
    <th>
      Terms
    </th>
  </tr>

  <tr ng-repeat="(post_type_name, post_type_obj) in ::mc.database.post_type">
    <td>
      <input type="checkbox" name="name" value="{{post_type_name}}" id="{{'eap_id_'+ (++mc.html_id)}}">
      <label for="{{'eap_id_'+ ++mc.html_id}}">{{post_type_obj.label}}</label>
    </td>
    <td colspan="2">
      <table class="table taxonomy-table">
        <tr ng-repeat="(taxonomy_name, taxonomy_obj) in ::post_type_obj.taxonomy">
          <td>
            <input type="checkbox" name="name" value="{{taxonomy_name}}">
            <label for="">{{taxonomy_obj.label}} {{mc.html_id}}</label>
          </td>
          <td>
            <table class="table">
              <tr ng-repeat="(term_id, term_label) in ::taxonomy_obj.terms">
                <td>
                  <input type="checkbox" name="name" value="{{term_id}}">
                  <label for="">{{term_label}}</label>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
